@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --font-family: "Outfit", sans-serif;;

  --color-primary-blue: #207DFF; /* Blue for headings, buttons */
       --color-secondary-green: #88C057; /* Green for highlights */
       --color-white: #FFFFFF; /* White for background */
       --color-black: #000000; /* Black for text */
       --color-light-gray: #E1E1E1; /* Light gray for secondary sections */
       --color-error-red: #F87171; /* Light red for alerts or errors */
     }
     body{
      font-family: var(--font-family) ;
    }